/*  Custom style for block */
@import url('https://fonts.googleapis.com/css?family=Istok+Web|Lato:700&display=swap');

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #212121;
    font: 18px/1.6 "Istok Web", sans-serif;
    padding: 90px 60px 0;
}

.hero__front {
    min-width: 470px;
    margin-right: 40px;
}
.hero__rear {
    min-width: 470px;
    margin-right: 40px;
}
.hero__content,
.hero__signature,
.hero__front,
.hero__rear {
    margin-bottom: 30px;
}

.hero__line {
    margin: 24px 0 34px;
    width: 60px;
    height: 2px;
    background: #ff5722;
}