#mb-block-photo-advertise{
	display: flex;
    flex-wrap: nowrap;
}
.photo-advertise-heading{
	background: #2c8791;
    color: #fff;
    width: 100%;
    text-align: center;
}
.photo-advertise-copy{
    padding: 30px;
    font-style: italic;
    font-size: 20px;
}
.photo-advertise-reference{
	padding: 0 30px;
    color: cyan;
}
